<div class="container mt-5">
  <div class="row marcador align-items-center">
    <div class="col  text-center">
     
      
      <!-- <img class="img-fluid "
        [src]="imagemHome"> -->

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<h1>Card Image with description on :hover</h1>
<div class="cards">
  <div class="card">
    <h2 class="card-title">Santiago Bernabeu</h2>
    <img src="https://images.unsplash.com/photo-1556962021-9d0303621643?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8U2FudGlhZ28lMjBiZXJuYWJldXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
    <p class="card-desc">O Estádio Santiago Bernabéu é um estádio de futebol localizado em Madrid, na Espanha, de propriedade do Real Madrid. Localizado no lugar do antigo estádio do Real Madrid, o Estádio Charmatín, o Santiago Bernabéu foi projetado por Luis Alemany Soler e Manuel Muñoz Monasterio.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Camp Nou</h2>
    <img src="https://images.unsplash.com/photo-1598121876853-82437626c783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Q2FtcCUyMG5vdXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
    <p class="card-desc">O Spotify® Camp Nou (que em catalão significa Campo Novo; pronúncia [kamˈnɔw], "cam-nôu") é um estádio de futebol localizado na cidade de Barcelona, na Catalunha, na Espanha.

      Seu nome oficial era Estadi del Fútbol Club Barcelona até 2000/2001, quando uma votação realizada entre os torcedores oficializou a sua denominação popular, Camp Nou.[2] Desde 1998/1999, é um estádio 5 estrelas segundo a União das Federações Europeias de Futebol.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Estádio Parc des Princes</h2>
    <img src="https://images.unsplash.com/photo-1641947189504-7605b4ee6c9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8UGFyYyUyMGRlcyUyMFByaW5jZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
    <p class="card-desc">O Parc des Princes, é um estádio localizado a oeste de Paris, na França. Inaugurado em 18 de julho de 1897, é predominantemente utilizado pelo clube Paris Saint-German, mas também abriga partidas de rugby. Ele está localizado num enorme complexo de mesmo nome, o Parc des Princes, criado pelo Duque de Morny em 1860.</p>
  </div>
</div>
    </div>
  </div>
</div>

